/* 
1. 배경색: background: #491449;
2. 1번째 배경: background: #713574;
3. 회원가입 배경: background: #D5BCE4;
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.배경 {
  background-color: #491449;
  display: flex;
  flex-direction: column;
}

.메인 {
  display: flex;
  height: 1048px;
}

.검색바컨테이너 {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.검색바아이템들 {
  display: flex;
  align-items: center;
}
.검색바컨테이너 input {
  width: 920px;
  height: 48px;
  margin-left: 24px;
}
.검색바컨테이너 img {
  align-items: center;
}

.사이드바 {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.사이드바_메뉴들 {
  align-items: center;
}
