* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  font-weight: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

button {
  all: unset;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: baseline;
}

fieldset {
  border: unset;
}

textarea {
  font-family: unset;
}
